# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
flask-bcrypt
requests
beautifulsoup4
psycopg2
stripe

# ----------------------
# Production Server
# ----------------------
gunicorn
