<hr>
<div id="footer" class="col-12 text-center">
    <div id="legal" class="text-center"> &copy; 2018 QUICC FOODS Inc. All Rights Reserved.
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a id="terms" href="terms.html">Terms of Service</a>
        <a id="privacy" href="privacy.html">Privacy Policy</a>
        <div id="trademark" class="text-center">Apple, the Apple logo, iPhone, iPod touch, and iTunes are trademarks of Apple Inc., registered in the U.S. and
            other countries.
            <br />iPad is a trademark of Apple Inc. App Store is a service mark of Apple Inc.</div>
    </div>
</div>