{% extends "base.html" %}
{% block pageTitle %}QUICC FOOD - About Us{% endblock %}

{% block mainTitle %}DEMO online food ordering web application, with payment system.{% endblock %}
{% block main %}

    <div class="col-12">

        <div class="row mx-auto">

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card cardSpacing">
                    <div class="card-body">
                        <h4 class="card-title">Back-End Design/Front end</h4>
                        <p class="card-text">
                            <br />
                            <br /> Andrew Hylton
                            <br /> Free lance Full stack web developer.
                        </p>
                    </div>
                </div>
            </div>





        </div>

    </div>
</div>
{% endblock %}