{% extends "base.html" %}
{% block pageTitle %}QUICC FOOD - Contact Us{% endblock %}

{% block mainTitle %}Contact Us{% endblock %}
{% block main %}

    <div class="col-12">

        <div class="row mx-auto">

            <div class="col-12">
                <div class="card cardSpacing">
                    <div class="card-body">
                        <div class="col-12">
                            <!-- <img class="img-fluid mx-auto d-block" src="img/home/recipes.png" alt="manage recipes" /> -->
                        </div>

                        <h4 class="card-title text-center">We would love to hear from you</h4>
                        <p class="card-text">

                            <h5>TECHNICAL SUPPORT</h5>
                            <div>Technical issues related to QUICC FOODS, iOS, Android, NOOK and Kindle Fire apps.
                                <a href="mailto:support@quiccfoods.com">support@quiccfoods.com</a>
                                <br />
                                <br />
                            </div>

                            <h5>FEEDBACK AND SUGGESTIONS</h5>
                            <div>Feature and supported site requests.
                                <a href="mailto:feedback@quiccfoods.com">feedback@quiccfoods.com</a>
                                <br />
                                <br />
                            </div>

                            <h5>PARTNERSHIPS</h5>
                            <div>Content, corporate and feature partnerships
                                <a href="mailto:partnerships@quiccfoods.com">partnerships@quiccfoods.com</a>
                                <br />
                                <br />
                            </div>

                            <h5>INVESTOR RELATIONS</h5>
                            <div>Investor queries and requests for investment information.
                                <a href="mailto:investor@quiccfoods.com">investor@quiccfoods.com</a>
                                <br />
                            </div>

                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}