<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>driver interface</title>
    
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
        <link rel="stylesheet" href="/static/css/lib/fontawesome-all.min.css">
    
        <link rel="stylesheet" href="/static/css/mainstyle.css"> 
        <script src="static/js/drivermap.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTBjKacwVrHHDJrtvMqSO5CBhpWwOOYwg" type="text/javascript"></script>
    </head>
    
    <body class="">
        <header>
            {% include "header.html" %}
        </header>
    
        <main>
            <div class="container">
                {% include 'flash_messages.html' %} 
                <div class="row">

                    <div id="mapholder">

                    </div>
                    <div id="error">

                    </div>

                </div>
            </div>
        </main>
    
        <footer>
            <div class="container-fluid">
                {% include "footer.html" %}
            </div>
        </footer>
    
    
    
        <script src="/static/js/lib/jquery-3.3.1.min.js"></script>
        <script src="/static/js/lib/popper.min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        {% block js %}{% endblock%}
    </body>
    </html>


