<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Home - Recipe Finder</title>

    <link rel="stylesheet" href="css/bootstrap-4.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" href="css/mainstyle.css">
</head>

<body class="">

    <nav class="navbar navbar-expand-sm mainNavBar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="index.html">Recipe Finder</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>

            <!-- Right Hand Side NavBar Items -->
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item">
                    <a class="nav-link p-2" href="login.php">Log In</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link p-2" href="signup.php">Sign Up</a>
                </li>

            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->

        </div>
    </nav>



    <div class="container">
        <div class="row">

            <div class="col-12">
                <br /><br />
                <img class="img-fluid mx-auto d-block" src="img/home/intro_text.png" alt="Finally some help in the kitchen." />
                <br /><br /><br /><br />
            </div>

            <div class="col-12">

                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card cardSpacing">
                            <div class="card-body">
                                <div class="col-12">
                                    <img class="img-fluid mx-auto d-block" src="img/home/recipes.png" alt="manage recipes" />
                                </div>

                                <p class="card-text">
                                    <br />
                                    Eliminate stacks of books and piles of paper in the kitchen. <br /><br />
                                    Create and edit your own recipes or import from recipe sites by pasting a URL. <br /><br />
                                    Create unlimited categories to organize your recipe library.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card cardSpacing">
                            <div class="card-body">
                                <div class="col-12">
                                    <img class="img-fluid mx-auto d-block" src="img/home/menus.png" alt="create menus" />
                                </div>

                                <p class="card-text">
                                    <br />
                                    Plan menus for special events or regular meals. <br /><br />
                                    Take your device into the kitchen and cook your menu with multiple cooking timers. <br /><br />
                                    Cook Mode prevents screen from dimming on your device.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card cardSpacing">
                            <div class="card-body">
                                <div class="col-12">
                                    <img class="img-fluid mx-auto d-block" src="img/home/planner.png" alt="plan meals" />
                                </div>

                                <p class="card-text">
                                    <br />
                                    Organize your week by adding recipes to the schedule. <br /><br />
                                    Share your favorite recipes with friends and family via Email, Facebook and Twitter. <br /><br />
                                    Scale recipes to make the right amount.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card cardSpacing">
                            <div class="card-body">
                                <div class="col-12">
                                    <img class="img-fluid mx-auto d-block" src="img/home/shopping.png" alt="make shopping lists" />
                                </div>

                                <p class="card-text">
                                    <br />
                                    Add recipes, menus and other items to your shopping list. <br /><br />
                                    Automatically arrange your shopping list the way you shop in the store. <br /><br />
                                    Carry your shopping list with you and add to it in store.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-12">
            <br /><br />
            <p class="h1 display-6 text-center">AVAILABLE FOR ALL YOUR DEVICES</p>
            <br /><br />
            <div class="row">
                
                <div class="col-6 col-sm-3">                    
                    <a id="ios" href="#">
                        <img class="img-fluid" src="img/home/appstore_ios.png" />
                    </a>
                </div>

                <div class="col-6 col-sm-3">
                    <a id="windows" href="#">
                        <img class="img-fluid" src="img/home/appstore_windows.png" />
                    </a>
                </div>

                <div class="col-6 col-sm-3">
                    <a id="android" href="#">
                        <img class="img-fluid" src="img/home/appstore_android.png" />
                    </a>
                </div>

                <div class="col-6 col-sm-3">
                    <a id="amazon" href="#">
                        <img class="img-fluid" src="img/home/appstore_amazon.png" />
                    </a>
                </div>
            </div>
        
            <br /><br /><br /><br />
        </div>
        


    </div>


    <div id="footer" class="text-center">
        <div id="legal" class="text-center"> &copy; 2018 Recipe Finder Inc. All Rights Reserved.
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
            <a id="terms" href="terms.html">Terms of Service</a>
            <a id="privacy" href="privacy.html">Privacy Policy</a>
            <div id="trademark" class="text-center">Apple, the Apple logo, iPhone, iPod touch, and iTunes are trademarks of Apple Inc., registered in the U.S. and
                other countries.
                <br />iPad is a trademark of Apple Inc. App Store is a service mark of Apple Inc.</div>
        </div>
    </div>
    





    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>