{% extends "base.html" %}
{% block pageTitle %}QUICC FOOD - Login{% endblock %}

{% block mainTitle %}Login{% endblock %}
{% block main %}
</div>

<h2>Log In</h2>
<p>You can login with username "admin" and password as "password123"</p><br>

{% from "_bootstrapformhelpers.html" import render_bootstrap_field %}
<form class="form-horizontal" action="{{ url_for('login') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ render_bootstrap_field(form,form.username) }}
    {{ render_bootstrap_field(form,form.password) }}
    
    
    <div class="form-group">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-md">Log in <span class="glyphicon glyphicon-log-in"></span></button>
        </div>
    </div>
</form>

{% endblock %}