{% extends "base.html" %} 
{% block pageTitle %}QUICC FOOD - Our Partners{% endblock %}

{% block mainTitle %}Our Partners{% endblock %}
{% block main %}

    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/876_terrace_bar_and_grill_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/abar_restaurant_and_lounge_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/almond_tree_sports_bar_and_lounge_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/bikkles_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/bocaditos_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/c_and_c_south_beach_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/cannonball_cafe_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/chicken_and_tings_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/chillitos_jamexican_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/damascus_gate_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/di_grill_shack_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/dragon_court_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/easy_diet_store_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/eatopia_vegan_cuisine_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/fat_boy_sandwich_house_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/fish_pot_fry_fish_shop_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/golden_gate_restaurant_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/island_grill_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/jojos_jerk_pit_and_more_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/little_tokyo_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/main_squeeze_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/nirvanna_indian_fusion_cuisine_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/northside_kitchen_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/opa!_greek_restaurant_and_lounge_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/pepperwood_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/pizza_please_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/pizzaland_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/pushpa_indian_restaurant_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/raffaele's_gourmet_pizzeria_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/redbones_blues_cafe_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/saffron_indian_cuisine_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/secret_gardens_restaurant_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/sora_japanese_sky_cuisine_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/south_avenue_grill_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/sugar_and_spice_pastries_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/tea_tree_creperie_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/the_oasis_on_the_oxford_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/toss_and_roll_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/uncorked_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/vietnam_4u_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/whitebones_seafood_express_logo.png" />
    <img class="img-fluid mx-auto d-block" src="/static/img/restaurants/yummy_cafe_logo.png" />


</div>
{% endblock %}