{% extends "base.html" %} 
{% block pageTitle %}QUICC FOOD - Home{% endblock %} 

{% block mainTitle %}Our Selection of Menus{% endblock %}
{% block main %}

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/golden_gate_restaurant_logo.png" alt="Golden Gate Restaurant">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Golden Gate Restaurant</h4>
                <p class="card-text restaurantType">Chinese</p>
                <p class="card-text restaurantAddress">Northside Plaza, 14 Northside Drive, Liguanea, Kingston 6</p>
                <p class="card-text restaurantDescription">Authentic Cantonese Restaurant</p>
                <div class="text-center">
                    <a href="/restaurants/golden-gate-restaurant" class="btn btn-primary restaurantButton">View Menu</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/fat_boy_sandwich_house_logo.png" alt="Fat Boy Sandwich House">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Fat Boy Sandwich House</h4>
                <p class="card-text restaurantType">Italian | Fast Food</p>
                <p class="card-text restaurantAddress">106 Hope Road, Sovereign Centre, Kingston</p>
                <p class="card-text restaurantDescription">A place which serves Big, Fresh and Healthy Sandwiches for great value!</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/secret_gardens_restaurant_logo.png" alt="Secret Gardens Restaurant">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Secret Gardens Restaurant</h4>
                <p class="card-text restaurantType">Jamaican | Chinese | Mexican | American</p>
                <p class="card-text restaurantAddress">4 West Kingshouse Close, Mayfair Hotel, Kingston 10</p>
                <p class="card-text restaurantDescription">Intriguing journey with us! Into a Secret Hideaway Restaurant. Come and venture with us. Savour the flavour
                    and Indulge! On the outskirts of New Kingston. Cheese ~ Wine ~ Bistro ~ Speciality Food</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/tea_tree_creperie_logo.png" alt="Tea Tree Creperie">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Tea Tree Creperie</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">80 Lady Musgrave Road, Unit #2, Kingston 10</p>
                <p class="card-text restaurantDescription">Tea Tree Creperie is a Cordon Bleu style eatery & the first of its kind in Jamaica.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/bocaditos_logo.png" alt="Bocaditos">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Bocaditos</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">17 Church Street, Kingston</p>
                <p class="card-text restaurantDescription">Small Café where you can eat in, pick up or deliver out. Food prepared to order. We prepare special dietary
                    dishes for our regular customers using our menu items. Accommodates your menu order to fit your preference
                    if asked and if available. We spoil our regular customers. Catering available.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/cannonball_cafe_logo.png" alt="Cannonball Cafe">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Cannonball Cafe</h4>
                <p class="card-text restaurantType">American</p>
                <p class="card-text restaurantAddress">Shop 8 Sovereign North, Barbican Road, Kingston 6</p>
                <p class="card-text restaurantDescription">Cannonball Cafe -- your home away from home.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/yummy_cafe_logo.png" alt="Yummy Cafe">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Yummy Cafe</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">11 Northside Drive, Kingston 6</p>
                <p class="card-text restaurantDescription">We offer Bubble tea, Fruit infused ice tea, Fried ice cream, cake rolls, Asian style baked goods, American
                    style breakfast, Jamaican and Asian Cuisine!! We also offer multi-cuisine Breakfast and Lunch</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/vietnam_4u_logo.png" alt="Vietnam 4U">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Vietnam 4U</h4>
                <p class="card-text restaurantType">Vietnamese</p>
                <p class="card-text restaurantAddress">Khemlani Plaza, Manor Center, Kingston 8</p>
                <p class="card-text restaurantDescription">The first Vietnamese restaurant has been opened in Kingston offering delicious authentic Vietnamese food
                    with a menu boasting a wide variety of dishes.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/easy_diet_store_logo.png" alt="Easy Diet Store">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Easy Diet Store</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">25 Annette Crescent, Shop #6, Kingston 8</p>
                <p class="card-text restaurantDescription">Easy Diet Store truly makes dieting easy by providing a FREE diet goal analysis and delivers healthy, affordable
                    meals and meal plans to your doorstep.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/toss_and_roll_logo.png" alt="Toss and Roll">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Toss and Roll</h4>
                <p class="card-text restaurantType">Healthy | Jamaican</p>
                <p class="card-text restaurantAddress">75 Hope Road, Kingston</p>
                <p class="card-text restaurantDescription">We take pride in using wholesome ingredients HAND CUT DAILY to give you the fresh healthy meals you love!
                    Come try one of our salads, sandwiches and wraps today!</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/abar_restaurant_and_lounge_logo.png" alt="Abar Restaurant & Lounge">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Abar Restaurant & Lounge</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">Shop 21, Springs Plaza, 15 - 17 Constant Spring Road, Kingston</p>
                <p class="card-text restaurantDescription">A-Bar is more than just "A bar". We are a restaurant and lounge. An oasis away from your regular day. For
                    many of our patrons, its a home away from home. A-Bar is really all about the experience. The ambiance,
                    décor and top notch customer service.This is a place where you can relax and have a good time whether
                    to mingle, or hang out with friends. Its also perfect for a business meeting, luncheon, birthday party,
                    and celebration of any kind.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/redbones_blues_cafe_logo.png" alt="Redbones Blues Cafe">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Redbones Blues Cafe</h4>
                <p class="card-text restaurantType">American | Jamaican</p>
                <p class="card-text restaurantAddress">1 Argyle Road, Kingston 10</p>
                <p class="card-text restaurantDescription">Redbones Blues Cafe is a Jazz & Blues themed Caribbean Fusion Cuisine Restaurant & Bar that opened in Kingston
                    in December 1996. It was time once again to engage the public with a love affair of understated elegance,
                    superior service, top-notch cuisine, incredible entertainment and most importantly unforgettable memories!
                    Jazz & Blues themed Caribbean Fusion Cuisine Restaurant</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/almond_tree_sports_bar_and_lounge_logo.png" alt="Almond Tree Sports Bar & Lounge">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Almond Tree Sports Bar & Lounge</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">6 GARELLI AVENUE, Kingston</p>
                <p class="card-text restaurantDescription">The Ultimate Bar</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>







    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/uncorked_logo.png" alt="Uncorked">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Uncorked</h4>
                <p class="card-text restaurantType">Italian | French | American</p>
                <p class="card-text restaurantAddress">9 Barbican Road, Sovereign North, Kingston 6</p>
                <p class="card-text restaurantDescription">In the beginning....... Uncorked was founded out of love for excellent wine paired with the best cheese from
                    the world.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/little_tokyo_logo.png" alt="Little Tokyo">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Little Tokyo</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">Sovereign Centre, 106 Hope Road, Kingston 6</p>
                <p class="card-text restaurantDescription">We are Jamaica’s leading Asian-Jamaican fast food establishment, providing a wide range of tasty foods at
                    unbeatable prices. With our uncompromising high standards and diverse menu we are the first choice when
                    it comes to great value, fresh and fast food. The Best Food In Town</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/pushpa_indian_restaurant_logo.png" alt="Pushpa Indian Restaurant">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Pushpa Indian Restaurant</h4>
                <p class="card-text restaurantType">Indian | Vegetarian</p>
                <p class="card-text restaurantAddress">Shop #1, Northside Plaza, Liguanea, Kingston 6</p>
                <p class="card-text restaurantDescription">A meticulously prepared menu that starts with exotic starters hosting an array of assorted Indian delicacies,
                    Pushpa's takes you on a Taste journey that is really out of this universe. The décor is reminiscent of
                    an indian restaurant and is the location of some of the most impressive cuisine in the country.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/pepperwood_logo.png" alt="Pepperwood">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Pepperwood</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">2 Chelsea Avenue, Kingston 5</p>
                <p class="card-text restaurantDescription">Real Jamaican Jerk</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/chillitos_jamexican_logo.png" alt="Chilitos JaMexican">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Chilitos JaMexican</h4>
                <p class="card-text restaurantType">Mexican | Fast Food</p>
                <p class="card-text restaurantAddress">64 Hope Road, Kingston 6</p>
                <p class="card-text restaurantDescription">Mexican restaurant with a Jamaican twist - we're JaMexican!</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/di_grill_shack_logo.png" alt="Di Grill Shack">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Di Grill Shack</h4>
                <p class="card-text restaurantType">American | Fast Food</p>
                <p class="card-text restaurantAddress">9-11 Phoenix Avenue, Kingston</p>
                <p class="card-text restaurantDescription">Your gourmet favourites served fast. The best ribs in town...tender, juicy and fall off the bone. The greatest
                    burgers ever, with a variety of beef, chicken, fish or salmon. Old-style jerk chicken that you can't
                    find second to in Kingston.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>






    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/sugar_and_spice_pastries_logo.png" alt="Sugar and Spice Pastries">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Sugar and Spice Pastries</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">112 1/2 Constant Spring Road, Kingston</p>
                <p class="card-text restaurantDescription">Sugar and Spice Pastries was established in Jamaica on September 15, 1971. It is a family oriented business
                    which focuses on tradition. We offer a wide variety of delicious and delectable products such as cakes,
                    cupcakes, patties and pastries. Some of our pastries include the infamous danish whirl topped with either
                    lemon, Bavarian or raspberry filling or the mouthwatering iced cinnamon danish, palm leaves, turnovers,
                    fruit pockets, bear claws and much more. </p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/dragon_court_logo.png" alt="Dragon Court">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Dragon Court</h4>
                <p class="card-text restaurantType">Chinese</p>
                <p class="card-text restaurantAddress">6 South Avenue, Kingston 10</p>
                <p class="card-text restaurantDescription">Dragon Court, Elegant Chinese Restaurant, provides sumptuous dishes specially prepared for dining, take out
                    or to cater to social functions and special occasions. They also have Dim Sums every Sunday from 10 am-2
                    pm. Enjoy a quiet evening with that special someone or bring the whole family to a delicious dinner.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/chicken_and_tings_logo.png" alt="Chicken & Tings">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Chicken & Tings</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">3 Hope Road, HWT Rd, Kingston 10</p>
                <p class="card-text restaurantDescription">CHICKEN & TINGS is an award winning restaurant that serves appetizing home-style JAMAICAN MEALS. CHICKEN
                    & TINGS offers a variety of chicken meals such as FRY, BARBEQUE, STEW, BAKED, SWEET & SOUR, CURRY Chicken
                    and more. Despite our name we also offer a wide range of dishes consisting of PORK, BEEF, FISH, CURRY
                    GOAT & OXTAIL to name a few. </p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>



    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/northside_kitchen_logo.png" alt="Northside Kitchen (In Progress)">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Northside Kitchen</h4>
                <p class="card-text restaurantType">Japanese | Chinese</p>
                <p class="card-text restaurantAddress">18 Northside Plaza, Liguanea, Kingston 6</p>
                <p class="card-text restaurantDescription">We serve Kingston's finest Chinese & Japanese cuisine with exciting dishes and unique ambiance.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/pizza_please_logo.png" alt="Pizza Please">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Pizza Please</h4>
                <p class="card-text restaurantType">Italian | Fast Food</p>
                <p class="card-text restaurantAddress">Shop # 3 Village Plaza, 2-4 Constant Spring Road, Half Way Tree, Kingston 10</p>
                <p class="card-text restaurantDescription">Pizza Please is the first and only Italian pizza shop in Jamaica. We bring you the flavor of authentic Roman
                    recipes, ready to purchase by the slice!</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/south_avenue_grill_logo.png" alt="South Avenue Grill">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">South Avenue Grill</h4>
                <p class="card-text restaurantType">American</p>
                <p class="card-text restaurantAddress">20A South Avenue, Kingston</p>
                <p class="card-text restaurantDescription">The Food * The Service * The Ambiance * Feeling Hungry?</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/jojos_jerk_pit_and_more_logo.png" alt="JOJOs Jerk Pit and More (In Progress)">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">JOJOs Jerk Pit and More</h4>
                <p class="card-text restaurantType">Jamaican | American</p>
                <p class="card-text restaurantAddress">12 Waterloo Road, Kingston</p>
                <p class="card-text restaurantDescription">Jamaicas' Premier Jerk Centre; We serve Jerk Chicken, Pork, Lamb... and many more delightful meals that are
                    guaranteed to make you're taste buds go wild!! 'Come feel Jamaica....Taste Jamaica'</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/sora_japanese_sky_cuisine_logo.png" alt="Sora Japanese Sky Cuisine">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Sora Japanese Sky Cuisine</h4>
                <p class="card-text restaurantType">Japanese</p>
                <p class="card-text restaurantAddress">9 - 11 Phoenix Avenue, Kingston 10</p>
                <p class="card-text restaurantDescription">The ultimate Japanese experience.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>



    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/opa!_greek_restaurant_and_lounge_logo.png" alt="OPA! Greek Restaurant & Lounge">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">OPA! Greek Restaurant & Lounge</h4>
                <p class="card-text restaurantType">Greek | Mediterranean</p>
                <p class="card-text restaurantAddress">75 Hope Road, Kingston 6</p>
                <p class="card-text restaurantDescription">At OPA! we are passionate about Greek food and fun. Come try our Spanakopita (Spinach Pie), Kotosouvlaki
                    (Grilled Chicken Fillet Skewers) or Kotsi (Lamb Shank) paired with one of our Greek wines or Greek beers,
                    the ONLY place in Jamaica to find these curiosities as well as Greek liquors like Metaxa brandy and Ouzo.
                    OPA! Greek Restaurant and Chill Lounge, where a unique dining experience awaits you and your guest.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/damascus_gate_logo.png" alt="Damascus Gate">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Damascus Gate</h4>
                <p class="card-text restaurantType">Mediterranean</p>
                <p class="card-text restaurantAddress">26 Hope Road, Kingston 10, Kingston</p>
                <p class="card-text restaurantDescription">Beautiful Mediterranean Cuisine and Pizzeria at Devon House </p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>



    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/bikkles_logo.png" alt="Bikkles">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Bikkles</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">106 Hope Road, Sovereign Centre, Kingston</p>
                <p class="card-text restaurantDescription">Great tasty, quality Jamaican food - fast! Our tagline "Really great food...you'll love it" represents how
                    we want every client to feel after enjoying our food.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/raffaele's_gourmet_pizzeria_logo.png" alt="Raffaeles Gourmet Pizzeria">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Raffaeles Gourmet Pizzeria</h4>
                <p class="card-text restaurantType">Italian</p>
                <p class="card-text restaurantAddress">20 Barbican Road, Orchid Village Plaza, Shop #5, Kingston 6</p>
                <p class="card-text restaurantDescription">Delicious Gourmet Pizza</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/pizzaland_logo.png" alt="Pizzaland">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Pizzaland</h4>
                <p class="card-text restaurantType">Italian</p>
                <p class="card-text restaurantAddress">134 Old Hope road, Liguanea Plaza, Kingston</p>
                <p class="card-text restaurantDescription">Original Italian Chef baked ITALIAN PIZZA, PASTA and much more!</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/whitebones_seafood_express_logo.png" alt="Whitebones Seafood Express">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Whitebones Seafood Express</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">10 Altamont Crescent, Kingston 5</p>
                <p class="card-text restaurantDescription">Enjoy delectable lunch menu offerings nestled in New Kingston with a relaxing atmosphere.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/island_grill_logo.png" alt="Island Grill">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Island Grill</h4>
                <p class="card-text restaurantType">Jamaican | American</p>
                <p class="card-text restaurantAddress">New Kingston, Kingston 5</p>
                <p class="card-text restaurantDescription">Jerk cooking is the soul of Island Grill – hot, spicy and full of life.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/fish_pot_fry_fish_shop_logo.png" alt="Fish Pot Fry Fish Shop">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Fish Pot Fry Fish Shop</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">39a Half Way Tree Road, Kingston 10</p>
                <p class="card-text restaurantDescription">Jamaica’s newest quick serve restaurant offering quality seafood dishes at affordable prices.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/nirvanna_indian_fusion_cuisine_logo.png" alt="Nirvanna Indian Fusion Cuisine">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Nirvanna Indian Fusion Cuisine</h4>
                <p class="card-text restaurantType">Indian</p>
                <p class="card-text restaurantAddress">1A, 80 Lady Musgrave Road, Kingston 10</p>
                <p class="card-text restaurantDescription">Nirvanna Indian Fusion strives to provide delectable traditional Indian food fused with elements of Indonesian
                    and Burmese cuisine.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/saffron_indian_cuisine_logo.png" alt="Saffron Indian Cuisine">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Saffron Indian Cuisine</h4>
                <p class="card-text restaurantType">Indian</p>
                <p class="card-text restaurantAddress">Shop #37 Market Place, 67 Constant Spring Road, Kingston</p>
                <p class="card-text restaurantDescription">A hip, cozy spot away from the crowd. Saffron Indian Cuisine is the perfect place for anything from a casual
                    dinner to a family outing, friendly business meeting, or alternative to the been-there-done-that date.
                    Everything from the décor to the street food. Saffron Indian Cuisine is the perfect place for anything
                    from a casual dinner, family outing to a friendly business meeting.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/the_oasis_on_the_oxford_logo.png" alt="The Oasis on the Oxford">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">The Oasis on the Oxford</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">11 Oxford road, Kingston 5</p>
                <p class="card-text restaurantDescription">Rustic Caribbean Restaurant with its own unique charm and character.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/876_terrace_bar_and_grill_logo.png" alt="876 Terrace Bar & Grill">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">876 Terrace Bar & Grill</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">2 South Avenue, Kingston 10</p>
                <p class="card-text restaurantDescription">Restaurant | Bar | Grill</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/c_and_c_south_beach_logo.png" alt="C&C South Beach">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">C&C South Beach</h4>
                <p class="card-text restaurantType">Jamaican | American</p>
                <p class="card-text restaurantAddress">2 Brompton Road, Kingston 5</p>
                <p class="card-text restaurantDescription">New Kingston's multi-function venue with indoor and outdoor options, including private cabanas and private
                    night club rental. Let us host your next event! Event venue rental, Fine Dining Restaurant and Sports
                    Bar</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/eatopia_vegan_cuisine_logo.png" alt="Eatopia Vegan Cuisine">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Eatopia Vegan Cuisine</h4>
                <p class="card-text restaurantType">Vegetarian</p>
                <p class="card-text restaurantAddress">Unit 1 - 30 Waterloo Avenue, Kingston 10</p>
                <p class="card-text restaurantDescription">At Eatopia, we’re serious about food. We’re committed to that perfect world in which you can be vegan and
                    still have convenient meal options. Options that are not just good for you, they’re super tasty, they
                    look good, and they’re satisfying. </p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3">
        <div class="card cardSpacing restaurantCard">
            <img class="card-img-top img-fluid restaurantImage" src="/static/img/restaurants/main_squeeze_logo.png" alt="Main Squeeze">
            <div class="card-body restaurantCardBody">
                <h4 class="card-title restaurantTitle">Main Squeeze</h4>
                <p class="card-text restaurantType">Jamaican</p>
                <p class="card-text restaurantAddress">53 Knutsford Boulevard, Kingston 10</p>
                <p class="card-text restaurantDescription">Smoothie & Juice Bar located in the heart of New Kingston. They provide only the best Natural Fruit Blends.
                </p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary disabled restaurantButton">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock %}