{% extends "base.html" %}
{% block pageTitle %}QUICC FOOD - Terms of Service{% endblock %}

{% block mainTitle %}Terms of Services{% endblock %}
{% block main %}

<div class="col-12">

    <div class="legal">
        <ol>
            <li>Your relationship with QUICC FOODS
                <br> Your use of QUICC FOODS’s products, software, services and web sites (referred to collectively as the “Services”
                in this document and excluding any services provided to you by QUICC FOODS under a separate written agreement)
                is subject to the terms of a legal agreement between you and QUICC FOODS. This document explains how the
                agreement is made up, and sets out some of the terms of that agreement.
            </li>

            <li>Accepting the Terms
                <br> In order to use the Services, you must first agree to the Terms. You may not use the Services if you do
                not accept the Terms. You can accept the Terms by: clicking to accept or agree to the Terms, where this option
                is made available to you by QUICC FOODS in the user interface for any Service; or by actually using the Services.
                In this case, you understand and agree that QUICC FOODS will treat your use of the Services as acceptance
                of the Terms from that point onwards. You may not use the Services and may not accept the Terms if (a) you
                are not of legal age to form a binding contract with QUICC FOODS, or (b) you are a person barred from receiving
                the Services under the laws of the United States or other countries including the country in which you are
                resident or from which you use the Services. </li>

            <li>Provision of the Services by QUICC FOODS
                <br> QUICC FOODS is constantly innovating in order to provide the best possible experience for its users. You
                acknowledge and agree that the form and nature of the Services which QUICC FOODS provides may change from
                time to time without prior notice to you. As part of this continuing innovation, you acknowledge and agree
                that QUICC FOODS may stop (permanently or temporarily) providing the Services (or any features within the
                Services) to you or to users generally at QUICC FOODS’s sole discretion, without prior notice to you. You
                may stop using the Services at any time. You do not need to specifically inform QUICC FOODS when you stop
                using the Services. You acknowledge and agree that if QUICC FOODS disables access to your account, you may
                be prevented from accessing the Services, your account details or any files or other content which is contained
                in your account. You acknowledge and agree that while QUICC FOODS may not currently have set a fixed upper
                limit on the number of transmissions you may send or receive through the Services or on the amount of storage
                space used for the provision of any Service, such fixed upper limits may be set by QUICC FOODS at any time,
                at QUICC FOODS’s discretion. </li>

            <li>Use of the Services by you
                <br> In order to access certain Services, you may be required to provide information about yourself (such as
                identification or contact details) as part of the registration process for the Service, or as part of your
                continued use of the Services. You agree that any registration information you give to QUICC FOODS will always
                be accurate, correct and up to date. You agree to use the Services only for purposes that are permitted by
                (a) the Terms and (b) any applicable law, regulation or generally accepted practices or guidelines in the
                relevant jurisdictions (including any laws regarding the export of data or software to and from the United
                States or other relevant countries). You agree not to access (or attempt to access) any of the Services by
                any means other than through the interface that is provided by QUICC FOODS, unless you have been specifically
                allowed to do so in a separate agreement with QUICC FOODS. You specifically agree not to access (or attempt
                to access) any of the Services through any automated means (including use of scripts or web crawlers) and
                shall ensure that you comply with the instructions set out in any robots.txt file present on the Services.
                You agree that you will not engage in any activity that interferes with or disrupts the Services (or the
                servers and networks which are connected to the Services). Unless you have been specifically permitted to
                do so in a separate agreement with QUICC FOODS, you agree that you will not reproduce, duplicate, copy, sell,
                trade or resell the Services for any purpose. You agree that you are solely responsible for (and that QUICC
                FOODS has no responsibility to you or to any third party for) any breach of your obligations under the Terms
                and for the consequences (including any loss or damage which QUICC FOODS may suffer) of any such breach.</li>

            <li>Your passwords and account security
                <br> You agree and understand that you are responsible for maintaining the confidentiality of passwords associated
                with any account you use to access the Services. Accordingly, you agree that you will be solely responsible
                to QUICC FOODS for all activities that occur under your account. If you become aware of any unauthorized
                use of your password or of your account, you agree to notify QUICC FOODS immediately.</li>

            <li>Privacy and your personal information
                <br> For information about QUICC FOODS’s data protection practices, please read QUICC FOODS’s privacy policy.
                This policy explains how QUICC FOODS treats your personal information, and protects your privacy, when you
                use the Services. You agree to the use of your data in accordance with QUICC FOODS’s privacy policies.</li>

            <li>Content in the Services
                <br> You understand that all information (such as data files, written text, computer software, music, audio files
                or other sounds, photographs, videos or other images) which you may have access to as part of, or through
                your use of, the Services are the sole responsibility of the person from which such content originated. All
                such information is referred to below as the “Content”. You should be aware that Content presented to you
                as part of the Services, including but not limited to advertisements in the Services and sponsored Content
                within the Services may be protected by intellectual property rights which are owned by the sponsors or advertisers
                who provide that Content to QUICC FOODS (or by other persons or companies on their behalf). You may not modify,
                rent, lease, loan, sell, distribute or create derivative works based on this Content (either in whole or
                in part) unless you have been specifically told that you may do so by QUICC FOODS or by the owners of that
                Content, in a separate agreement. QUICC FOODS reserves the right (but shall have no obligation) to pre-screen,
                review, flag, filter, modify, refuse or remove any or all Content from any Service.</li>

            <li>Proprietary rights
                <br> You acknowledge and agree that QUICC FOODS (or QUICC FOODS’s licensors) own all legal right, title and interest
                in and to the Services, including any intellectual property rights which subsist in the Services (whether
                those rights happen to be registered or not, and wherever in the world those rights may exist). You further
                acknowledge that the Services may contain information which is designated confidential by QUICC FOODS and
                that you shall not disclose such information without QUICC FOODS’s prior written consent. Unless you have
                agreed otherwise in writing with QUICC FOODS, nothing in the Terms gives you a right to use any of QUICC
                FOODS’s trade names, trade marks, service marks, logos, domain names, and other distinctive brand features.
                If you have been given an explicit right to use any of these brand features in a separate written agreement
                with QUICC FOODS, then you agree that your use of such features shall be in compliance with that agreement,
                any applicable provisions of the Terms, and QUICC FOODS's brand feature use guidelines as updated from time
                to time. QUICC FOODS acknowledges and agrees that it obtains no right, title or interest from you (or your
                licensors) under these Terms in or to any Content that you submit, post, transmit or display on, or through,
                the Services, including any intellectual property rights which subsist in that Content (whether those rights
                happen to be registered or not, and wherever in the world those rights may exist). Unless you have agreed
                otherwise in writing with QUICC FOODS, you agree that you are responsible for protecting and enforcing those
                rights and that QUICC FOODS has no obligation to do so on your behalf. You agree that you shall not remove,
                obscure, or alter any proprietary rights notices (including copyright and trade mark notices) which may be
                affixed to or contained within the Services. Unless you have been expressly authorized to do so in writing
                by QUICC FOODS, you agree that in using the Services, you will not use any trade mark, service mark, trade
                name, logo of any company or organization in a way that is likely or intended to cause confusion about the
                owner or authorized user of such marks, names or logos. </li>

            <li>License from QUICC FOODS
                <br> QUICC FOODS gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use
                the software provided to you by QUICC FOODS as part of the Services as provided to you by QUICC FOODS (referred
                to as the “Software” below). This license is for the sole purpose of enabling you to use and enjoy the benefit
                of the Services as provided by QUICC FOODS, in the manner permitted by the Terms. You may not (and you may
                not permit anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise
                attempt to extract the source code of the Software or any part thereof, unless this is expressly permitted
                or required by law, or unless you have been specifically told that you may do so by QUICC FOODS, in writing.
                Unless QUICC FOODS has given you specific written permission to do so, you may not assign (or grant a sub-license
                of) your rights to use the Software, grant a security interest in or over your rights to use the Software,
                or otherwise transfer any part of your rights to use the Software.</li>

            <li>Content license from you
                <br> You retain copyright and any other rights you already hold in Content which you submit, post or display
                on or through, the Services. You understand that QUICC FOODS, in performing the required technical steps
                to provide the Services to our users, may (a) transmit or distribute your Content over various public networks
                and in various media; and (b) make such changes to your Content as are necessary to conform and adapt that
                Content to the technical requirements of connecting networks, devices, services or media. You agree that
                this license shall permit QUICC FOODS to take these actions. You confirm and warrant to QUICC FOODS that
                you have all the rights, power and authority necessary to grant the above license.</li>

            <li>Software updates
                <br> The Software which you use may automatically download and install updates from time to time from QUICC FOODS.
                These updates are designed to improve, enhance and further develop the Services and may take the form of
                bug fixes, enhanced functions, new software modules and completely new versions. You agree to receive such
                updates (and permit QUICC FOODS to deliver these to you) as part of your use of the Services. </li>

            <li>Ending your relationship with QUICC FOODS
                <br> The Terms will continue to apply until terminated by either you or QUICC FOODS as set out below. If you
                want to terminate your legal agreement with QUICC FOODS, you may do so by (a) notifying QUICC FOODS at any
                time and (b) closing your accounts for all of the Services which you use, where QUICC FOODS has made this
                option available to you. Your notice should be sent, in writing, to QUICC FOODS’s address which is set out
                at the beginning of these Terms. QUICC FOODS may at any time, terminate its legal agreement with you if:
                <br> (A) you have breached any provision of the Terms (or have acted in manner which clearly shows that you do
                not intend to, or are unable to comply with the provisions of the Terms); or
                <br> (B) QUICC FOODS is required to do so by law (for example, where the provision of the Services to you is,
                or becomes, unlawful); or
                <br> (C) the partner with whom QUICC FOODS offered the Services to you has terminated its relationship with QUICC
                FOODS or ceased to offer the Services to you; or
                <br> (D) QUICC FOODS is transitioning to no longer providing the Services to users in the country in which you
                are resident or from which you use the service; or
                <br> (E) the provision of the Services to you by QUICC FOODS is, in QUICC FOODS’s opinion, no longer commercially
                viable.
                <br> Nothing in this Section shall affect QUICC FOODS’s rights regarding provision of Services under Section
                4 of the Terms. When these Terms come to an end, all of the legal rights, obligations and liabilities that
                you and QUICC FOODS have benefited from, been subject to (or which have accrued over time whilst the Terms
                have been in force) or which are expressed to continue indefinitely, shall be unaffected by this cessation,
                and the provisions of paragraph 20.7 shall continue to apply to such rights, obligations and liabilities
                indefinitely.</li>

            <li>EXCLUSION OF WARRANTIES
                <br> NOTHING IN THESE TERMS, SHALL EXCLUDE OR LIMIT QUICC FOODS’S WARRANTY OR LIABILITY FOR LOSSES WHICH MAY
                NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN
                WARRANTIES OR CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR LOSS OR DAMAGE CAUSED BY NEGLIGENCE,
                BREACH OF CONTRACT OR BREACH OF IMPLIED TERMS, OR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, ONLY
                THE LIMITATIONS WHICH ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO YOU YOU EXPRESSLY UNDERSTAND AND AGREE
                THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED "AS IS" AND “AS AVAILABLE.”
                IN PARTICULAR, QUICC FOODS, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS DO NOT REPRESENT OR WARRANT
                TO YOU THAT:
                <br> (A) YOUR USE OF THE SERVICES WILL MEET YOUR REQUIREMENTS,
                <br> (B) YOUR USE OF THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR,
                <br> (C) ANY INFORMATION OBTAINED BY YOU AS A RESULT OF YOUR USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE,
                AND
                <br> (D) THAT DEFECTS IN THE OPERATION OR FUNCTIONALITY OF ANY SOFTWARE PROVIDED TO YOU AS PART OF THE SERVICES
                WILL BE CORRECTED.
                <br> ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICES IS DONE AT YOUR OWN DISCRETION
                AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR OTHER DEVICE OR
                LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. NO ADVICE OR INFORMATION, WHETHER ORAL
                OR WRITTEN, OBTAINED BY YOU FROM QUICC FOODS OR THROUGH OR FROM THE SERVICES SHALL CREATE ANY WARRANTY NOT
                EXPRESSLY STATED IN THE TERMS. QUICC FOODS FURTHER EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY
                KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF
                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>

            <li>LIMITATION OF LIABILITY
                <br> SUBJECT TO OVERALL PROVISION IN PARAGRAPH 14.1 ABOVE, YOU EXPRESSLY UNDERSTAND AND AGREE THAT QUICC FOODS,
                ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS SHALL NOT BE LIABLE TO YOU FOR:
                <br> (A) ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY
                YOU, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY.. THIS SHALL INCLUDE, BUT NOT BE LIMITED TO, ANY LOSS
                OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS
                OF DATA SUFFERED, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS;
                <br> (B) ANY LOSS OR DAMAGE WHICH MAY BE INCURRED BY YOU, INCLUDING BUT NOT LIMITED TO LOSS OR DAMAGE AS A RESULT
                OF:
                <br> (I) ANY RELIANCE PLACED BY YOU ON THE COMPLETENESS, ACCURACY OR EXISTENCE OF ANY ADVERTISING, OR AS A RESULT
                OF ANY RELATIONSHIP OR TRANSACTION BETWEEN YOU AND ANY ADVERTISER OR SPONSOR WHOSE ADVERTISING APPEARS ON
                THE SERVICES;
                <br> (II) ANY CHANGES WHICH QUICC FOODS MAY MAKE TO THE SERVICES, OR FOR ANY PERMANENT OR TEMPORARY CESSATION
                IN THE PROVISION OF THE SERVICES (OR ANY FEATURES WITHIN THE SERVICES);
                <br> (III) THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE, ANY CONTENT AND OTHER COMMUNICATIONS DATA MAINTAINED
                OR TRANSMITTED BY OR THROUGH YOUR USE OF THE SERVICES;
                <br> (III) YOUR FAILURE TO PROVIDE QUICC FOODS WITH ACCURATE ACCOUNT INFORMATION;
                <br> (IV) YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE AND CONFIDENTIAL;
                <br> THE LIMITATIONS ON QUICC FOODS’S LIABILITY TO YOU IN PARAGRAPH 15.1 ABOVE SHALL APPLY WHETHER OR NOT QUICC
                FOODS HAS BEEN ADVISED OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.</li>

            <li>Copyright and trade mark policies
                <br> It is QUICC FOODS’s policy to respond to notices of alleged copyright infringement that comply with applicable
                international intellectual property law (including, in the United States, the Digital Millennium Copyright
                Act) and to terminating the accounts of repeat infringers.
            </li>
            <li>Other content
                <br> The Services may include hyperlinks to other web sites or content or resources. QUICC FOODS may have no
                control over any web sites or resources which are provided by companies or persons other than QUICC FOODS.
                You acknowledge and agree that QUICC FOODS is not responsible for the availability of any such external sites
                or resources, and does not endorse any advertising, products or other materials on or available from such
                web sites or resources. You acknowledge and agree that QUICC FOODS is not liable for any loss or damage which
                may be incurred by you as a result of the availability of those external sites or resources, or as a result
                of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or
                other materials on, or available from, such web sites or resources.</li>

            <li>Changes to the Terms
                <br> QUICC FOODS may make changes to the Universal Terms or Additional Terms from time to time. When these changes
                are made, QUICC FOODS will make a new copy of the Universal Terms available and any new Additional Terms
                will be made available to you from within, or through, the affected Services. You understand and agree that
                if you use the Services after the date on which the Universal Terms or Additional Terms have changed, QUICC
                FOODS will treat your use as acceptance of the updated Universal Terms or Additional Terms. </li>

            <li>General legal terms
                <br> Sometimes when you use the Services, you may (as a result of, or through your use of the Services) use a
                service or download a piece of software, or purchase goods, which are provided by another person or company.
                Your use of these other services, software or goods may be subject to separate terms between you and the
                company or person concerned. If so, the Terms do not affect your legal relationship with these other companies
                or individuals. The Terms constitute the whole legal agreement between you and QUICC FOODS and govern your
                use of the Services (but excluding any services which QUICC FOODS may provide to you under a separate written
                agreement), and completely replace any prior agreements between you and QUICC FOODS in relation to the Services.
                You agree that QUICC FOODS may provide you with notices, including those regarding changes to the Terms,
                by email, regular mail, or postings on the Services. You agree that if QUICC FOODS does not exercise or enforce
                any legal right or remedy which is contained in the Terms (or which QUICC FOODS has the benefit of under
                any applicable law), this will not be taken to be a formal waiver of QUICC FOODS’s rights and that those
                rights or remedies will still be available to QUICC FOODS. If any court of law, having the jurisdiction to
                decide on this matter, rules that any provision of these Terms is invalid, then that provision will be removed
                from the Terms without affecting the rest of the Terms. The remaining provisions of the Terms will continue
                to be valid and enforceable. You acknowledge and agree that each member of the group of companies of which
                QUICC FOODS is the parent shall be third party beneficiaries to the Terms and that such other companies shall
                be entitled to directly enforce, and rely upon, any provision of the Terms which confers a benefit on (or
                rights in favor of) them. Other than this, no other person or company shall be third party beneficiaries
                to the Terms. The Terms, and your relationship with QUICC FOODS under the Terms, shall be governed by the
                laws of the State of New York without regard to its conflict of laws provisions. You and QUICC FOODS agree
                to submit to the exclusive jurisdiction of the courts located within the county of Santa Clara, New York
                to resolve any legal matter arising from the Terms. Notwithstanding this, you agree that QUICC FOODS shall
                still be allowed to apply for injunctive remedies (or an equivalent type of urgent legal relief) in any jurisdiction.
                <br />
            </li>
        </ol>
    </div>

</div>
{% endblock %}